<!-- SIDENAV -->
<ul class="sidenav grey darken-4" id="mobile-demo">
  <li><a href="#" class="grey-text text-lighten-2">About</a></li>
  <li><a href="./neworder" class="grey-text text-lighten-2">New Order</a></li>
  <li><a href="./myorders" class="grey-text text-lighten-2">My Orders</a></li>
  <li><a href="../auth/logout" class="grey-text text-lighten-2">Logout</a></li>
</ul>