  <!DOCTYPE html>
  <!-- ABOUT -->
  <html lang="en">
    <head>
      <link rel="manifest" href="manifest.json">
      <link rel="icon" href="" type="image/x-icon">    
      <link rel="shortcut icon" href="" type="image/x-icon">
      <meta name="description" content="Bits Workshop Order System"/>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="../addorder-style.css"/>
      <meta name="theme-color" content="black">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script type="text/javascript" src="../min.js"></script>
      <title>Connect</title>
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="../jquery214.js"></script>
      <script type="text/javascript" src="../materialize.min.js"></script>
      <script type="text/javascript" src="../addorder-action.js"></script>
      <!-- NAVIGATION -->
      <ul id="dropdown2" class="dropdown-content grey lighten-2">
        <li><a href="./logout" class="grey-text text-darken-4">Logout</a></li>
      </ul>
      <nav class="grey darken-3">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo"><img src="../logo.png" id="logo"></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a target="_blank" href="./addworker">Add Worker</a></li>
            <li><a href="./addorder">Add Order</a></li>
            <li><a href="./allusers">View Users</a></li>
            <li><a href="./allorders">View Orders</a></li>
            <li><a href="./allworkers">View Workers</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown2"><%= username%><i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>

      <ul class="sidenav grey darken-4" id="mobile-demo">
        <li><a href="./addworker" class="grey-text text-lighten-2">Add Worker</a></li>
        <li><a href="./addorder" class="grey-text text-lighten-2">Add Order</a></li>
        <li><a href="./allusers" class="grey-text text-lighten-2">View Users</a></li>
        <li><a href="./allorders" class="grey-text text-lighten-2">View Orders</a></li>
        <li><a href="./allworkers" class="grey-text text-lighten-2">View Workers</a></li>
        <li><a href="../" class="grey-text text-lighten-2">Logout</a></li>
      </ul>
      <!-- EIGHTY FOUR -->
      <div class="eightyfour grey lighten-2">
        <div id="neworder" class="eightyfourin">
          <div class="row formrow">
            <form class="col s12 form white">
              <div class="row">
                <div class="col s12">
                  <h3 style="text-align: center;">Enter Order Details</h3>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 l6">
                  <input id="iname" type="text" class="validate" data-length="50">
                  <label for="iname">Enter Item Name</label>
                </div>
                <div class="input-field col s12 l6">
                  <input id="iqty" type="number" class="validate" min="1">
                  <label for="iqty">Enter Item Quantity</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                    <textarea id="iabout" class="materialize-textarea validate" data-length="500"></textarea>
                  <label for="iabout">Enter Item Description</label>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <h3 style="text-align: center;">Enter Customer Details</h3>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 l6">
                  <input id="cusname" type="text" class="validate valid" data-length="50" value="admin">
                  <label for="cusname">Enter Customer Name</label>
                </div>
                <div class="input-field col s12 l6">
                  <input id="cusphone" type="tel" class="validate" data-length="15">
                  <label for="cusphone">Enter Phone Number</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 orderdiv">
                  <a class="waves-effect waves-light btn btn-place grey darken-4" onclick="place();"><i src=""></i>Place Order</a>
                </div>
              </div>  
            </form>
          </div>
        </div>
      </div>
      <!-- MODAL -->
      <div class="modal grey lighten-3">
          <div class="modal-content grey darken-3 white-text">
            <h4 style="text-align: center;">Order Placed</h4>
          </div>
          <p>Order Id :   <b><span id="placed-id"></span></b></p>
          <p>Item Name :   <b><span id="placed-name"></span></b></p>
          <p>Item Quantity :   <b><span id="placed-qty"></span></b></p>
          <p><a id="orderlink" href="./myorders">Click here</a> to see order details</p>
          <p><a href="./neworder">Click here</a> to place new order</p>
          <div class="modal-footer grey darken-3 white-text foot">
            <btn class="modal-action waves-effect waves-blue btn-flat grey lighten-3"><a href="./myorders">My Orders</a></btn>
          </div>
        </div>
      <!-- FOOTER -->
      <% include partials/footer.ejs %>
    </body>
  </html>
